<p>directive works!</p>
<!-- ngIf directive -->
<div class = "div-container" *ngIf="showDiv"></div>
<button (click)="toggle()">Toggle</button>
<br>
<!-- ngFor directive -->
<ul>
    <li>{{listItem}}</li>
</ul>

<ul>
    <li *ngFor="let items of listItem">{{items}}</li>
</ul>
<!-- ngSwitch directive -->
<div [ngSwitch]="true">
    <p *ngSwitchCase="color==='pink'">I like {{color}}</p>
    <p *ngSwitchCase="color==='yellow'">I like {{color}}</p>
    <p *ngSwitchCase="color==='blue'">I like {{color}}</p>
    <p *ngSwitchCase="color==='black'">I like {{color}}</p>
    <p *ngSwitchDefault>I dont like color</p>
</div>
