<p>directive works!</p>
<!-- ngIf directive -->
<div class = "div-container" *ngIf="showDiv"></div>
<button (click)="toggle()">Toggle</button>
<br>
<!-- ngFor directive -->
<ul>
    <li>{{listItem}}</li>
</ul>

<ul>
    <li *ngFor="let items of listItem">{{items}}</li>
</ul>
<!-- ngSwitch directive -->
<div [ngSwitch]="true">
    <p *ngSwitchCase="color==='pink'">I like {{color}}</p>
    <p *ngSwitchCase="color==='yellow'">I like {{color}}</p>
    <p *ngSwitchCase="color==='blue'">I like {{color}}</p>
    <p *ngSwitchCase="color==='black'">I like {{color}}</p>
    <p *ngSwitchDefault>I dont like color</p>
</div>
<br>
<!-- attribute directive -->
<div style="color:aqua;font-size: 30px;">I like Pune</div><br>
<div [ngStyle]="{backgroundColor: getColor()}"> I like yellow</div><br>
<div [class.div-container2]="journey=='admin'"
[class.div-container1]="journey=='owner'"
[class.div-container]="journey=='user'"
>I Like India</div>
