ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: black;
    overflow: auto; 
}
li {
    float: left;
}
li a {
    display: block;
    padding: 14px 16px;
    color: white;
    text-align: center;
    text-decoration: none;
}
li a:hover {
    background-color: white;
    color: black;
}