 /* static:default value: top/left/right/bottom/z-index/float */ 
 .static-value{ 
    border: 2px solid rgb(47, 0, 255); 
    top: 50px; 
    position: sticky; 
 
} 
 .abs-value{  
    border: 2px solid rgb(8, 8, 8); 
    top: 57px; 
    position: absolute; 
    width: 100px; 
    height: 1000px; 
} 
.rel-position{ 
    border: 2px solid rgb(8, 8, 8); 
    top: 54px; 
    left: 168px; 
    position: relative; 
    width: 350px; 
    height: 350px; 
    z-index: -1;
} 
.h{ 
    text-align: center; 
} 
.fix-value{ 
    position: fixed; 
    height: 40px; 
    border: 1px solid black; 
    bottom: 0px; 
    width: 1400px; 
    background-color: antiquewhite; 
} 
/* .sticky-value{  
    border: 2px solid rgb(19, 19, 20);
    top: 0px; 
    position: sticky; 
     height: 30px;  
    background-color:palevioletred ;
}*/