<div class="form-container">
    <h2>Login Form</h2>
    <form #loginForm="ngForm">
        <label>User Name</label><br>
        <input type="text" #userName="ngModel" ngModel name="uname" required pattern="^[a-zA-Z]*$" minlength="2"
            maxlength="20" [(ngModel)]="name"><br>
        <div *ngIf="userName?.errors?.['required'] && userName?.touched" class="error-msg">
            User Name is required
        </div>
        <div class="error-msg" *ngIf="userName?.errors?.['pattern'] && !userName?.errors?.['minlength']">
              Username must be alphabet
        </div>
        <div class="error-msg" *ngIf="userName?.errors?.['minlength']">
            Minimum 2 characters are required
        </div><br>
        
        <label> Password</label><br>

        <input [type]=" isShowPass ? 'text' : 'password' " #pass="ngModel" ngModel
         name="password" 
         required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,12}$">
        
         <i class="bi bi-eye-fill eye-icon" *ngIf="isShowPass" (click)="toShowPassword()"></i>
         <i class="bi bi-eye-slash-fill eye-icon2" *ngIf="!isShowPass"  (click)="toShowPassword()"></i>

         <div  *ngIf="pass.errors?.['required'] && pass?.touched" class="error-msg">
            Password is required
        </div>
        <div *ngIf="pass.errors?.['pattern']" class="error-msg">
            Invalid Pattern
        </div> <br>
        <button (click)="login(loginForm.value)" [disabled]="!loginForm.valid">Submit</button>
    </form>
    <a routerLink="/user/usersignup">Click here to create account</a>
</div>