<div class="form-container">
    <form [formGroup]="signUpForm">
        <mat-form-field class="form-Fields">
            <mat-label>Full Name</mat-label>
            <input type="text" matInput formControlName="fullName">
            <mat-error *ngIf="signUpForm.get('fullName')?.errors?.['required'] && 
            signUpForm.get('fullName')?.touched">FullName is Required</mat-error>
        </mat-form-field>
        
        <br>
        <mat-form-field class="form-Fields">
            <mat-label>Mobile No</mat-label>
            <input type="text" matInput formControlName="MobileNo">
            <mat-hint>Please Enter Mobile No</mat-hint>
            <mat-error *ngIf="signUpForm.get('MobileNo')?.errors?.['maxlength'] && 
            signUpForm.get('MobileNo')?.touched">Mobile No. should not be more than 10 digits</mat-error>
        <mat-error *ngIf="signUpForm.get('MobileNo')?.errors?.['pattern']">Invalid Pattern</mat-error>
        </mat-form-field>
        <br>
        <mat-label>Gender</mat-label>
        <mat-radio-group formControlName="gender">
            <mat-radio-button>Male</mat-radio-button>
            <mat-radio-button>Female</mat-radio-button>
        </mat-radio-group>
        <br>
        <mat-form-field class="form-Fields">
            <mat-label>Pan Card</mat-label>
            <input type="text" matInput formControlName="pancard">
        </mat-form-field>
        <br>
        <mat-form-field class="form-Fields">
            <mat-label>Password</mat-label>
            <input [type] = " visible ? 'text' : 'password'" (keyup)="passMatch()"
             matInput formControlName="Password">
            <mat-icon matSuffix *ngIf="visible" (click)="visiblepassword()">visibility</mat-icon>
            <mat-icon matSuffix *ngIf="!visible" (click)="visiblepassword()">visibility_off</mat-icon>
        </mat-form-field>
        <br>
        <mat-form-field class="form-Fields">
            <mat-label>Confirm Password</mat-label>
            <input [type] = " visibleConfirm ? 'text' : 'password'" (keyup)="passMatch()" 
            matInput formControlName="confirmPassword">
            <mat-icon matSuffix *ngIf="visibleConfirm" (click)="visibleConfirmpassword()">visibility</mat-icon>
            <mat-icon matSuffix *ngIf="!visibleConfirm" (click)="visibleConfirmpassword()">visibility_off</mat-icon>
        </mat-form-field>
        <mat-error *ngIf="matched"> Password and Confirm password should match</mat-error>
        <br>
        <button mat-raised-button color="accent" class="btn">Submit</button>

    </form>
</div>